.productos-grid, .productos .g29__descripcion, .productos .t300__descripcion, .productos .fanatec__descripcion {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0px;
  padding: 0px; }

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: justify;
  margin: 25px; }

h1 {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  color: #037474; }

h4 {
  font-family: "Open Sans", sans-serif;
  color: #037474; }

.navegador {
  position: sticky;
  top: 0px;
  background-color: #5AF;
  z-index: +1; }
  .navegador__barraSuperior {
    display: flex;
    justify-content: center;
    align-items: center; }
  .navegador__logo {
    width: 250px;
    margin: 15px; }
  .navegador__sr {
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    font-size: 35px; }
  .navegador__lista {
    background-image: linear-gradient(to top, #8bc8df, #51a7cf); }
  .navegador li {
    font-family: "Open Sans", sans-serif; }

.navbar-toggler {
  border: none; }

.navbar {
  --bs-navbar-toggler-focus-width: none; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5AF; }
  .footer__derechos {
    color: #FFFFFF;
    font-size: 16px; }
  .footer__redes--img {
    width: 70px;
    padding: 15px; }
  .footer__redes--imgInsta {
    width: 62px; }

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .principal__foto {
    position: relative; }
  .principal__texto {
    position: absolute;
    top: 350px;
    left: 30px; }
    .principal__texto--frase {
      font-size: 52px;
      font-weight: bold;
      color: whitesmoke; }
    .principal__texto--McRae {
      font-size: 24px;
      color: whitesmoke; }

.nosotros img {
  width: 200px;
  padding-bottom: 2px; }

.nosotros__rally {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "rallyText imgRally";
  background-color: #DDE8F0; }
  .nosotros__rally--texto {
    grid-area: rallyText;
    text-align: justify; }
  .nosotros__rally--img {
    grid-area: imgRally;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    border-left: 3px solid #ff9201;
    margin: 15px; }

.nosotros__pista {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "imgPista pistaText";
  background-color: #d1e4f1; }
  .nosotros__pista--texto {
    grid-area: pistaText;
    text-align: justify; }
  .nosotros__pista--img {
    grid-area: imgPista;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    border-right: 3px solid #ff9201;
    margin: 15px; }

.productos {
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "g29 g29__descripcion g29__precio" "t300 t300__descripcion t300__precio" "fanatec fanatec__descripcion fanatec__precio"; }
  .productos__imagen {
    display: flex;
    align-self: center;
    width: 300px;
    padding: 30px; }
  .productos__compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 15px; }
  .productos button {
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to top, #108d7c, rgba(57, 236, 221, 0.87));
    border-radius: 20px;
    border: none;
    color: white; }
    .productos button:hover {
      transform: scale(1.05, 1.05);
      transition: 1s;
      border: 1px solid #c95305;
      color: #c95305; }
  .productos .g29 {
    grid-area: g29; }
    .productos .g29__descripcion {
      grid-area: g29__descripcion;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      border-bottom: 3px solid #ff9201; }
    .productos .g29__precio {
      grid-area: g29__precio; }
  .productos .t300 {
    grid-area: t300; }
    .productos .t300__descripcion {
      grid-area: t300__descripcion;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      border-bottom: 3px solid #ff9201; }
    .productos .t300__precio {
      grid-area: t300__precio; }
  .productos .fanatec {
    grid-area: fanatec; }
    .productos .fanatec__descripcion {
      grid-area: fanatec__descripcion;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      border-bottom: 3px solid #ff9201; }
    .productos .fanatec__precio {
      grid-area: fanatec__precio; }

.esport__section {
  display: flex;
  justify-content: space-around; }

.esport__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffa048;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 10px gray; }
  .esport__card--img {
    width: 300px;
    height: 300px;
    padding: 20px; }
  .esport__card--text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px; }

.formulario {
  height: 100vh; }

.btn {
  background-image: linear-gradient(to top, #108d7c, rgba(57, 236, 221, 0.87));
  border-radius: 20px;
  border: none;
  color: white; }
  .btn:hover {
    transform: scale(1.05, 1.05);
    transition: 1s;
    border: 1px solid #c95305;
    color: #c95305; }

.maps__titulo {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  color: #037474; }

textarea {
  resize: none; }

/* MEDIA QUERIES MOBILE */
@media (min-width: 320px) and (max-width: 575px) {
  /* NAVEGADOR MOBILE*/
  .navegador__logo {
    width: 9rem;
    margin: 1rem; }
  /* INDEX MOBILE */
  .principal__texto {
    top: 12rem;
    left: 1rem; }
    .principal__texto--frase {
      font-size: 1rem; }
    .principal__texto--McRae {
      font-size: .7rem; }
  /* NOSOTROS MOBILE */
  .nosotros img {
    width: 20rem;
    padding-bottom: .2rem; }
  .nosotros__rally {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: "rallyText"  "imgRally"; }
    .nosotros__rally--img {
      border-left: none;
      border-top: .25rem solid #ff9201;
      padding: 1rem; }
  .nosotros__pista {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: "pistaText"  "imgPista"; }
    .nosotros__pista--img {
      border-right: none;
      border-top: .25rem solid #ff9201;
      padding: 1rem; }
  /* PRODUCTOS MOBILE */
  .productos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "g29"  "g29__descripcion"  "g29__precio" "t300"  "t300__descripcion"  "t300__precio" "fanatec"  "fanatec__descripcion"  "fanatec__precio";
    row-gap: 1rem;
    padding: 1rem; }
    .productos__imagen {
      justify-self: center;
      width: 80vw;
      border-top: .25rem solid #ff9201; }
    .productos__compra {
      display: flex;
      justify-self: center;
      align-self: center; }
    .productos button:hover {
      transform: none; }
    .productos .g29__descripcion {
      border-bottom: none; }
    .productos .t300__descripcion {
      border-bottom: none; }
    .productos .fanatec__descripcion {
      border-bottom: none; }
  /* ESPORT MOBILE */
  .esport__section {
    flex-direction: column;
    align-content: center; }
  /* CONTACTO MOBILE */
  .formulario {
    height: 80vh; }
  h1 {
    font-size: 2rem; }
  .btn:hover {
    transform: none; }
  .maps__titulo {
    font-size: 1.5rem; }
  .footer {
    flex-direction: column-reverse; } }

/* MEDIA QUERIES TABLET*/
@media (min-width: 576px) and (max-width: 992px) {
  /* INDEX TABLET */
  .principal__texto {
    top: 18rem;
    left: 1rem; }
    .principal__texto--frase {
      font-size: 1.8rem; }
    .principal__texto--McRae {
      font-size: 1rem; }
  /* NOSOTROS TABLET */
  .nosotros__rally--texto {
    line-height: 2.5rem;
    display: flex;
    flex-direction: column; }
  .nosotros__pista--texto {
    line-height: 2.5rem;
    display: flex;
    flex-direction: column; }
  /* PRODUCTOS TABLET */
  .productos button:hover {
    transform: none; }
  /* ESPORT TABLET */
  .esport__section {
    flex-direction: column;
    align-content: center; }
  /* CONTACTO TABLET */
  .formulario {
    height: 55vh; }
  .maps {
    flex-direction: column; }
  .btn:hover {
    transform: none; } }
