*{
    margin: 0px;
    padding: 0px;
}

/* NAVEGADOR */

.navegador{
    position: sticky;
    top: 0px;
    background-color: #5AF;
}

.navegador__barraSuperior{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegador__logo{
    width: 100px;
    margin-right: 15px;
}

.navegador__sr{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 35px;
}

.navegador__lista{
    display: flex;
    list-style: none;
    background-image: linear-gradient(to top, rgb(139, 200, 223), rgb(81, 167, 207));
}

.navegador__pestaña{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 10px;
}

.navegador__pestaña:hover {
    transform: scale(1.1,1.1);
}

.navegador__pestaña a{
    color: #FFFFFF;
    text-decoration: none;
}

/* INDEX */

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.principal__foto{
    width: 95vw;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 16px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5AF;
}

.footer__derechos{
    color: #FFFFFF;
}

.footer__redes--img{
    width: 70px;
    padding: 15px;
}

/* NOSOTROS */

.nosotros__imagen{
    display: flex;
    justify-content: space-around;
}

.nosotros__imagen--img{
    width: 400px;
    padding: 10px;
}

/* PRODUCTOS */

.productos{
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"g29 descripcion__g29 precio__g29"
                        "t300 descripcion__t300 precio__t300"
                        "fanatec descripcion__fana precio__fana";
}

.g29{
    grid-area: g29;
}

.descripcion__g29{
    grid-area: descripcion__g29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio__g29{
    grid-area: precio__g29;
}

.t300{
    grid-area: t300;
}

.descripcion__t300{
    grid-area: descripcion__t300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio__t300{
    grid-area: precio__t300;
}

.fanatec{
    grid-area: fanatec;
}

.descripcion__fana{
    grid-area: descripcion__fana;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio__fana{
    grid-area: precio__fana;
}

.productos__imagen{
    display: flex;
    align-self: center;
    width: 300px;
    padding: 30px;
}

.productos__compra{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

button{
    width: 100px;
    height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(to top, gray, white);
    border-radius: 8px;
    border-color: lightgray;
}

button:hover{
    transform: scale(1.1, 1.1);
}

/* NG esport */

.esport__section{
    display: flex;
    justify-content: space-around;
}

.esport__plataforma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px gray;
    border-radius: 10px;
    margin: 20px;
}

.esport__imagen{
    width: 300px;
    height: 300px;
    padding: 20px;
}

/* CONTACTO */

.formulario__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.formulario__item input{
    width: 450px;
    height: 25px;
}

.formulario__item--comentario{
    width: 450px;
    height: 450px;
}

.formulario__item--btn input{
    display: inline;
    width: 150px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
}

.maps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps__titulo{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 15px;
}

.maps__imagen{
    width: 800px;
    height: 300px;
    padding: 30px;
}

/* MEDIA QUERIES MOBILE */

@media (min-width: 320px) and (max-width: 575px){

    .navegador__barraSuperior{
        flex-direction: column;
    }

    .navegador__logo{
        width: 60px;
        margin: 10px;
    }

    .navegador__sr{
        font-size: 25px;
    }

    .navegador__lista{
        flex-direction: column;
        align-items: center;
    }

    .navegador__pestaña{
        font-size: 16px;
    }

    .navegador__pestaña:hover {
        transform: none;
    }

    .principal{
        padding: 10px;
    }

    .nosotros__imagen{
        flex-direction: column;
        align-items: center;
    }

    .nosotros__imagen--img{
        width: 90vw;
    }

    .productos{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas:"g29" 
                            "descripcion__g29" 
                            "precio__g29"
                            "t300" 
                            "descripcion__t300" 
                            "precio__t300"
                            "fanatec" 
                            "descripcion__fana" 
                            "precio__fana";
        row-gap: 30px;
        padding: 15px;
    }

    .productos__imagen{
        width: 80vw;
    }

    button:hover{
        transform: none;
    }

    .esport__section{
        flex-direction: column;
        align-content: center;
    }

    .esport__plataforma{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .esport__imagen{
        width: 200px;
        height: 200px;
        padding: 20px;
    }

    .formulario__item{
        width: 90vw;
    }

    .formulario__item--comentario{
        width: 90vw;
    }

    .maps{
        flex-direction: column;
    }

    .maps__imagen{
        width: 300px;
        height: 300px;
        padding: 30px;
    }

    .formulario__item input{
        width: 90vw;
    }

    .formulario__item--btn input{
        width: 80px;
    }

    .footer{
        flex-direction: column-reverse;
    }

}

/* MEDIA QUERIES TABLET*/

@media (min-width: 576px) and (max-width: 992px){

    .nosotros__imagen{
        flex-direction: column;
        align-items: center;
    }

    .nosotros__imagen--img{
        width: 90vw;
    }

    button:hover{
        transform: none;
    }

    .esport__section{
        flex-direction: column;
        align-content: center;
    }

    .esport__plataforma{
        flex-direction: row;
    }

    .esport__imagen{
        width: 200px;
        height: 200px;
        padding: 20px;
    }

    .maps{
        flex-direction: column;
    }

    .maps__imagen{
        width: 80vw;
        height: 200px;
        padding: 30px;
    }

}