*{
    margin: 0px;
    padding: 0px;
}

p{
    font-family: $font-principal;
    font-size: 20px;
    text-align: justify;
    margin: 25px;
}

h1{
    font-family: $font-principal;
    font-size: 45px;
    color: $color-titulos;
}

h4{
    font-family: $font-secundaria;
    color: $color-titulos;
}

.navbar-toggler{
    border: none;
}

.navbar{
    --bs-navbar-toggler-focus-width: none;
}