*{
    margin: 0px;
    padding: 0px;
}

p{
    font-family: $font-principal;
    font-size: 1.2rem;
    text-align: justify;
    margin: 1.5rem;
}

h1{
    font-family: $font-principal;
    font-size: 3rem;
    color: $color-titulos;
}

h4{
    font-family: $font-secundaria;
    color: $color-titulos;
}

