
/* MEDIA QUERIES MOBILE */

@media (min-width: 320px) and (max-width: 575px){

    /* NAVEGADOR MOBILE*/   

    .navegador{
        &__logo{
            width: 150px;
            margin: 10px;
        }
    }

    /* INDEX MOBILE */

    .principal{
        padding: 10px;
    }

    /* NOSOTROS MOBILE */

    .nosotros{

        &__rally{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:"rallyText" 
                            "imgRally";

            &--img{
                grid-area: imgRally;
                border-left:none;
                border-top: 3px solid #ff9201;
                padding: 15px;
            }
        }

        &__pista{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.5fr;
            grid-template-areas:"pistaText" 
                                "imgPista";

            &--img{
                grid-area: imgPista;
                border-right:none;
                border-top: 3px solid #ff9201;
                padding: 15px;
            }
        }
    }

    /* PRODUCTOS MOBILE */

    .productos{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas:"g29" 
                            "g29__descripcion" 
                            "g29__precio"
                            "t300" 
                            "t300__descripcion" 
                            "t300__precio"
                            "fanatec" 
                            "fanatec__descripcion" 
                            "fanatec__precio";
        row-gap: 30px;
        padding: 15px;

        &__imagen{
            justify-self: center;
            width: 80vw;
            border-top: 3px solid #ff9201;
        }
    
        &__compra{
            display: flex;
            justify-self: center;
            align-self: center;
        }
    
        & button:hover{
            transform: none;
        }

        .g29{
            &__descripcion{
                border-bottom: none;
            }
        }

        .t300{
            &__descripcion{
            border-bottom: none;
            }
        }

        .fanatec{
            &__descripcion{
                border-bottom:none;
            }
        }
    }

    /* ESPORT MOBILE */

    .esport{
        &__section{
            flex-direction: column;
            align-content: center;
        }
    }

    /* CONTACTO MOBILE */

    .formulario{
        height: 90vh;
    }

    h1{
        font-size: 35px;
    }

    .btn:hover{
        transform: none;
    }

    .maps__titulo{
        font-size: 20px;
    }

    .footer{
        flex-direction: column-reverse;
    }

}

/* MEDIA QUERIES TABLET*/

@media (min-width: 576px) and (max-width: 992px){


    /* PRODUCTOS TABLET */

    .productos button:hover{
        transform: none;
    }

    /* ESPORT TABLET */

    .esport__section{
        flex-direction: column;
        align-content: center;
    }

    /* CONTACTO TABLET */

    .formulario{
        height: 80vh;
    }

    .maps{
        flex-direction: column;
    }

    .btn{
        &:hover{
            transform: none;
        }
    }
}