
/* MEDIA QUERIES MOBILE */

@media (min-width: 320px) and (max-width: 575px){

    /* NAVEGADOR MOBILE*/   

    .navegador{
        
        &__logo{
            width: 9rem;
            margin: 1rem;
        }
    }

    /* INDEX MOBILE */

    .principal{

        &__texto{
            top: 12rem;
            left: 1rem;
    
            &--frase{
                font-size: 1rem;
            }
    
            &--McRae{
                font-size: .7rem;
            }
        }
    }

    /* NOSOTROS MOBILE */

    .nosotros{
        & img{
            width: 20rem;
            padding-bottom: .2rem;
        }

        &__rally{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
        grid-template-areas:"rallyText" 
                            "imgRally";

            &--img{
                border-left:none;
                border-top: .25rem solid #ff9201;
                padding: 1rem;
            }
        }

        &__pista{
            grid-template-columns: 1fr;
            grid-template-rows: .5fr 1fr;
            grid-template-areas:"pistaText" 
                                "imgPista";

            &--img{
                border-right:none;
                border-top: .25rem solid #ff9201;
                padding: 1rem;
            }
        }
    }

    /* PRODUCTOS MOBILE */

    .productos{
        grid-template-columns: 1fr ;
        grid-template-rows:auto;
        grid-template-areas:"g29" 
                            "g29__descripcion" 
                            "g29__precio"
                            "t300" 
                            "t300__descripcion" 
                            "t300__precio"
                            "fanatec" 
                            "fanatec__descripcion" 
                            "fanatec__precio";
        row-gap: 1rem;
        padding: 1rem;

        &__imagen{
            justify-self: center;
            width: 80vw;
            border-top: .25rem solid #ff9201;
        }
    
        &__compra{
            display: flex;
            justify-self: center;
            align-self: center;
        }
    
        & button:hover{
            transform: none;
        }

        .g29{
            &__descripcion{
                border-bottom: none;
            }
        }

        .t300{
            &__descripcion{
            border-bottom: none;
            }
        }

        .fanatec{
            &__descripcion{
                border-bottom:none;
            }
        }
    }

    /* ESPORT MOBILE */

    .esport{
        &__section{
            flex-direction: column;
            align-content: center;
        }
    }

    /* CONTACTO MOBILE */

    .formulario{
        height: 80vh;
    }

    h1{
        font-size: 2rem;
    }

    .btn:hover{
        transform: none;
    }

    .maps__titulo{
        font-size: 1.5rem;
    }

    .footer{
        flex-direction: column-reverse;
    }

}

/* MEDIA QUERIES TABLET*/

@media (min-width: 576px) and (max-width: 992px){

    /* INDEX TABLET */

    .principal{

        &__texto{
            top: 18rem;
            left: 1rem;

            &--frase{
                font-size: 1.8rem;
            }

            &--McRae{
                font-size: 1rem;
            }
        }
    }

    /* NOSOTROS TABLET */

    .nosotros{

        &__rally{

            &--texto{
                line-height: 2.5rem;
                display: flex;
                flex-direction: column;
            }
        }
        
        &__pista{
        
            &--texto{
                line-height: 2.5rem;
                display: flex;
                flex-direction: column;
            }
        }
    }

    /* PRODUCTOS TABLET */

    .productos button:hover{
        transform: none;
    }

    /* ESPORT TABLET */

    .esport__section{
        flex-direction: column;
        align-content: center;
    }

    /* CONTACTO TABLET */

    .formulario{
        height: 55vh;
    }

    .maps{
        flex-direction: column;
    }

    .btn{
        &:hover{
            transform: none;
        }
    }
}