.navegador{
    position: sticky;
    top: 0px;
    background-color: $color-principal;
    z-index: +1;

    &__barraSuperior{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__logo{
        width: 250px;
        margin: 15px;
    }
    
    &__sr{
        font-family: $font-secundaria;
        color: #FFFFFF;
        font-size: 35px;
    }
    
    &__lista{
        background-image: linear-gradient(to top, rgb(139, 200, 223), rgb(81, 167, 207));
    }

    & li{
        font-family: $font-secundaria;
    }
}

.navbar-toggler{
    border: none;
}

.navbar{
    --bs-navbar-toggler-focus-width: none;
}
