*{
    margin: 0px;
    padding: 0px;
}

/* NAVEGADOR */

.navegador{
    position: sticky;
    top: 0px;
    background-color: #5AF;
    z-index: +1;

    &__barraSuperior{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__logo{
        width: 100px;
        margin-right: 15px;
    }
    
    &__sr{
        font-family: 'Open Sans', sans-serif;
        color: #FFFFFF;
        font-size: 35px;
    }
    
    &__lista{
        background-image: linear-gradient(to top, rgb(139, 200, 223), rgb(81, 167, 207));
    }
}



li{
    font-family: 'Open Sans', sans-serif;
}


/* INDEX */

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__foto{
        width: 95vw;
    }
}



p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 16px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5AF;

    &__derechos{
        color: #FFFFFF;
        font-size: 16px;
    }
    
    &__redes--img{
        width: 70px;
        padding: 15px;
    }
    
    &__redes--imgInsta{
        width:62px;
    }
}



/* NOSOTROS */

.nosotros__imagen{
    display: flex;
    justify-content: space-around;

    &--img{
        width: 400px;
        padding: 10px;
    }
}



/* PRODUCTOS */

.productos{
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"g29 g29__descripcion g29__precio"
                        "t300 t300__descripcion t300__precio"
                        "fanatec fanatec__descripcion fanatec__precio";

    &__imagen{
        display: flex;
        align-self: center;
        width: 300px;
        padding: 30px;
    }

    &__compra{
        display: flex;
        flex-direction: column;
        align-self: center;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
    }

    & button{
        width: 100px;
        height: 30px;
        background-image: linear-gradient(to top, rgb(16, 141, 124), rgba(57, 236, 221, 0.87));
        border-radius: 20px;
        border: none;
        color: white;
        &:hover{
            transform: scale(1.05, 1.05);
            transition: 1s;
            border:  1px solid rgb(201, 83, 5);
            color: rgb(201, 83, 5);
        }
    }

    .g29{
        grid-area: g29;

        &__descripcion{
            grid-area: g29__descripcion;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
        
        &__precio{
            grid-area: g29__precio;
        }
    }
    
    .t300{
        grid-area: t300;

        &__descripcion{
            grid-area: t300__descripcion;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
        
        &__precio{
            grid-area: t300__precio;
        }
    }
    

    .fanatec{
        grid-area: fanatec;

        &__descripcion{
            grid-area: fanatec__descripcion;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
        
        &__precio{
            grid-area: fanatec__precio;
        }
    }
}

/* NG esport */

.esport{

    &__section{
        display: flex;
        justify-content: space-around;
    }

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 4px solid rgb(241, 174, 111);
        border-radius: 10px;
        margin: 20px;

        &--img{
            width: 300px;
            height: 300px;
            padding: 20px;
        }
    
        &--text{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
    }
}

/* CONTACTO */

h1{
    font-family:'Lato', sans-serif;
    font-size: 50px;
    color: rgba(13, 189, 174, 0.87);
}

.btn{
    background-image: linear-gradient(to top, rgb(16, 141, 124), rgba(57, 236, 221, 0.87));
    border-radius: 20px;
    border: none;
    color: white;
    &:hover{
        transform: scale(1.05, 1.05);
        transition: 1s;
        border: 1px solid rgb(201, 83, 5);
        color: rgb(201, 83, 5);
    }
}

.maps__titulo{
    font-family:'Lato', sans-serif;
    font-size: 35px;
    color: rgba(13, 189, 174, 0.87);
}


/* MEDIA QUERIES MOBILE */

@media (min-width: 320px) and (max-width: 575px){

    /* NAVEGADOR MOBILE*/   

    .navegador__logo{
        width: 60px;
        margin: 10px;
    }

    .navegador__sr{
        font-size: 25px;
    }

    /* INDEX MOBILE */

    .principal{
        padding: 10px;
    }

    /* NOSOTROS MOBILE */

    .nosotros__imagen{
        flex-direction: column;
        align-items: center;
    }

    .nosotros__imagen--img{
        width: 90vw;
    }

    /* PRODUCTOS MOBILE */

    .productos{
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas:"g29" 
                            "descripcion__g29" 
                            "precio__g29"
                            "t300" 
                            "descripcion__t300" 
                            "precio__t300"
                            "fanatec" 
                            "descripcion__fana" 
                            "precio__fana";
        row-gap: 30px;
        padding: 15px;
    }

    .productos__imagen{
        width: 80vw;
    }

    .productos button:hover{
        transform: none;
    }

    /* ESPORT MOBILE */

    .esport__section{
        flex-direction: column;
        align-content: center;
    }

    .esport__plataforma{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .esport__imagen{
        width: 200px;
        height: 200px;
        padding: 20px;
    }

    /* CONTACTO MOBILE */

    h1{
        font-size: 35px;
    }

    .btn:hover{
        transform: none;
    }

    .maps__titulo{
        font-size: 20px;
    }

    .footer{
        flex-direction: column-reverse;
    }

}

/* MEDIA QUERIES TABLET*/

@media (min-width: 576px) and (max-width: 992px){

/* NOSOTROS TABLET */

    .nosotros__imagen{
        flex-direction: column;
        align-items: center;
    }

    .nosotros__imagen--img{
        width: 90vw;
    }

    /* PRODUCTOS TABLET */

    .productos button:hover{
        transform: none;
    }

    /* ESPORT TABLET */

    .esport__section{
        flex-direction: column;
        align-content: center;
    }

    .esport__plataforma{
        flex-direction: row;
    }

    .esport__imagen{
        width: 200px;
        height: 200px;
        padding: 20px;
    }

    /* CONTACTO TABLET */

    .maps{
        flex-direction: column;
    }

}