
.btn{
    background-image: linear-gradient(to top, rgb(16, 141, 124), rgba(57, 236, 221, 0.87));
    border-radius: 20px;
    border: none;
    color: white;
    &:hover{
        transform: scale(1.05, 1.05);
        transition: 1s;
        border: 1px solid rgb(201, 83, 5);
        color: rgb(201, 83, 5);
    }
}

.maps__titulo{
    font-family: $font-principal;
    font-size: 35px;
    color: $color-titulos;
}
