.principal{
    position: relative;
    display: inline-block;

    &__texto{
        position: absolute;
        top: 200px;
        left: 20px;

        &--frase{
            font-size: 52px;
            font-weight: bold;
            color: whitesmoke;
        }

        &--McRae{
            font-size: 24px;
            color: whitesmoke;
        }

        &--parrafo{
            line-height: 2rem;
        }
    }
}
