.productos{
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.5fr;
    grid-template-rows: auto 1fr auto 1fr auto 1fr;
    grid-template-areas:"logitech logitech logitech"
                        "g29 g29__descripcion g29__precio"
                        "thrustmaster thrustmaster thrustmaster"
                        "t300 t300__descripcion t300__precio"
                        "fanatec fanatec fanatec"
                        "csl csl__descripcion csl__precio";

    &__logitech{
        grid-area: logitech;
        @extend.productos-grid;

        &--imagen{
            grid-area: g29;
            @extend.productos-imagen;
        }

        &--texto{
            grid-area: g29__descripcion;
            @extend.productos-texto;
        }

        &--compra{
            grid-area: g29__precio;
            @extend.productos-compra;
        }
    }

    &__thrustmaster{
        grid-area: thrustmaster;
        @extend.productos-grid;;

        &--imagen{
            grid-area: t300;
            @extend.productos-imagen;
        }

        &--texto{
            grid-area: t300__descripcion;
            @extend.productos-texto;
        }

        &--compra{
            grid-area: t300__precio;
            @extend.productos-compra;
        }
    }

    &__fanatec{
        grid-area: fanatec;
        @extend.productos-grid;

        &--imagen{
            grid-area: csl;
            @extend.productos-imagen;
        }

        &--texto{
            grid-area: csl__descripcion;
            @extend.productos-texto;
        }

        &--compra{
            grid-area: csl__precio;
            @extend.productos-compra;
        }
    }

    & button{
        width: 100px;
        height: 30px;
        background-image: linear-gradient(to top, rgb(16, 141, 124), rgba(57, 236, 221, 0.87));
        border-radius: 20px;
        border: none;
        color: white;
        &:hover{
            transform: scale(1.05, 1.05);
            transition: 1s;
            border:  1px solid rgb(201, 83, 5);
            color: rgb(201, 83, 5);
        }
    }
}
